.cards {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 70px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, 282px);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: #fff;
  color: #000;
}

.card__title {
  font-family: 'Inter';
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/heart_icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  list-style: none;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}