.footer {
  background: #000;
  color: #545454;
  padding-left: 120px;
  width: 318px;
  height: 18px;
  padding-bottom: 120px;
  margin: 0;
}

.footer__copyright {
  margin-top: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .footer__copyright {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .footer__copyright {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}