.footer {
  background: #000;
  color: #545454;
  padding-left: 325px;
  width: 318px;
  height: 18px;
  padding-bottom: 60px;
  margin: 0;
}

.footer__copyright {
  margin-top: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 480px) {
  .footer {
      width: 282px;
    }

    .footer__copyright {
      margin-top: 48px;
      margin-bottom: 36px;
    }
  }