.modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.15);
  position: fixed;
  padding: 0 19px;
  box-shadow: 0 0 25px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  padding: 36px;
  background-color: #fff;
  color: #000;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-color: transparent;
  cursor: pointer;
}

.modal__heading {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 425px;
}

.modal__input {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 57px;
}

.modal__button {
  background: #000;
  border-radius: 2px;
  color: #fff;
  height: 48px;
}

@media screen and (max-width:630) {
  .model__container {
    max-width: 282px;
    max-height: 322px;
    padding: 22px
  }

  .model__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 13px);
    left: calc(100% + 26px)
  }

  .modal__form {
    font-size: 14px;
    line-height: 17px;
  }
  .modal__heading {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
  }
  .modal__button {
    font-size: 14px;
  }
}
