.modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.15);
  position: fixed;
  padding: 0 19px;
  box-shadow: 0 0 25px;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  display: flex;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  padding: 36px;
  background-color: #fff;
  color: #000;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 425px;
}

.modal__input {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 57px;
}


.modal__input_type_error {
  margin-bottom: 0px;
}

.modal__input_type_error:last-of-type {
  margin-bottom: 0px;
}

.modal__error_visible {
  position: relative;
  top: calc(100% + 5px);
  color: red;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  min-height: 30px;
  display: block;
  border-top: 1px solid red;
  border-top-width: 100%;
}

.modal__button {
  background: #000;
  border-radius: 2px;
  color: #fff;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.modal__button_disabled {
  background-color: white;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  cursor: default;
}

.modal__button:hover {
  opacity: 0.6;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
  left: 424px;
  top: 90px;
  bottom: 90px;
  border-radius: 0px;
  object-fit: contain;
  overflow: hidden;
}

.modal__caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  padding-top: 10px;
  max-width: 291px;
  margin: 0;
}

.modal__container_type_preview {
  background: none;
}

#modal-card-delete-verify-title {
  padding-bottom: 38px;
}

#modal-verify-delete-card-button {
  margin-top: 0;
}

@media screen and (max-width:880px) {
  .modal__container {
    width: 282px;
    width: 100%;
    margin-top: 123px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 15px);
    left: calc(100% - 35px);
  }

  .modal__form {
    width: 100%;
  }
}
